GROQ_API_KEY=your_groq_key_here
LANGFUSE_PUBLIC_KEY=your_langfuse_public_key_here
LANGFUSE_SECRET_KEY=your_langfuse_secret_key_here
EMAIL_USER=your_gmail@gmail.com
EMAIL_PASS=your_gmail_app_password
MONGO_URI=mongodb://priyanshugundle_db_user:<db_password>@ac-q5rmhio-shard-00-00.6pepged.mongodb.net:27017,ac-q5rmhio-shard-00-01.6pepged.mongodb.net:27017,ac-q5rmhio-shard-00-02.6pepged.mongodb.net:27017/?ssl=true&replicaSet=atlas-8a99ec-shard-0&authSource=admin&appName=Cluster0